<div class="center jumbotron">
  <h2>Welcome to Bay Area Doctors</h2>

  <% if user_signed_in? %>

    <% if current_user.client? %>
      <li> client account </li>
    <% else %>

      <div class="row">
        <div class="col-md-4">
          <h2>New Availability</h2>
          <%= link_to "Schedule New Availability", new_availability_period_path, :class => 'navbar-link'  %>
        </div> 

        <div class="col-md-8">
        <%= add_weekly_calendar(@availability_periods) %>
        </div>
 
      </div>

    <% end %>

  <% else %>

    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>

  <% end %>

</div>

